@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display:flex; 
   justify-content: center;
  align-items: left; 
  width:auto;
  /* height: 100vh; */
  background-color: #212121;
  color: whitesmoke;
  /* flex-direction: column; */
}
.tableRow
{
  color:rgb(185, 8, 8);
  background-color:white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 

}
.main-header{
  font-family: 'Montserrat', sans-serif;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}
.table1{
  color:aquamarine;
}
.readTable
{
  color:brown
}

.table2
{
  background-color: bisque;
  color:aqua;
}


.ui blue table
{
  color: aqua;
}

.tableRow1
{
  color:blue;
}

.tableRow2
{
  color:red;
}


/* .table3
{
  display:flexbox;
  align-items:unset;
  justify-content:right;
} */

.div2
{
 color: red;
}

.button1
{
  color:brown;
}